---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../assets/icons/LinkedIn.astro";
import Github from "../assets/icons/Github.astro";
import Email from "../assets/icons/Email.astro";
import Brief from "../assets/icons/Brief.astro";
import Code from "../assets/icons/Code.astro";
import User from "../assets/icons/User.astro";
import ContactUser from "../assets/icons/ContactUser.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ImageProfile from "../assets/images/foto.jpeg";
import Swipper from "../components/Swipper.astro";
import SwiperIcons from "../components/SwiperIcons.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Portafolio Daniel Muñoz - Desarrollador Web con 2 años de experiencia"
  description="Contratame para crear aplicaciones web intuitivas que brindan soluciones unicas de software"
>
  <main>
    <SectionContainer class="py-16 lg:py-36">
      <div class="flex flex-col lg:flex-row gap-4">
        <Image
          class="rounded-full w-80 h-80"
          src={ImageProfile}
          alt="daniel-foto"
        />
        <div class="flex flex-col justify-end items-end pb-6">
          <h1
            class="text-white text-5xl font-bold w-full flex justify-start flex-row gap-x-4 pb-4"
          >
            Hey, Soy Daniel <div class="flex justify-center items-center">
              <Badge>Disponible</Badge>
            </div>
          </h1>
          <h2 class="text-xl">
            <span>+2 años de experiencia en el</span>
            <span class="text-sky-500/90">Desarrollado Web</span><span
              class="text-gray-500/90">. De Colombia, Medellín.</span
            >
            <span>
              Enfocado en la creación de aplicaciones web, <span
                class=" text-blue-300">modernas e intuitivas.</span
              ></span
            >
          </h2>

          <nav class="flex items-center gap-x-4 justify-start w-full pt-4">
            <SocialIcons href="https://www.linkedin.com/in/dmunoz05/">
              <LinkedIn class="size-6" />
              LinkedIn
            </SocialIcons>
            <SocialIcons
              href="https://github.com/dmunoz05"
              target="_blank"
              rel="noopener"
            >
              <Github class="size-6" />
              Github
            </SocialIcons>
            <SocialIcons href="#">
              <Email class="size-6" />
              Gmail
            </SocialIcons>
          </nav>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia" class="my-4">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Brief class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="my-4 hidden lg:grid ">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobremi" class="my-14">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <User class="size-8" />
        Sobre mi
      </h2>
      <About />
    </SectionContainer>

    <SectionContainer id="contactar" class="my-14">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <ContactUser class="size-8" />
        Contactar
      </h2>
      <Contact />
    </SectionContainer>

    <!--
    <SectionContainer id="proyectos" class="my-4">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Swipper/>
    </SectionContainer> -->
  </main>
</Layout>
