---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../assets/icons/LinkedIn.astro";
import Github from "../assets/icons/Github.astro";
import Email from "../assets/icons/Email.astro";
import Brief from "../assets/icons/Brief.astro";
import Code from "../assets/icons/Code.astro";
import User from "../assets/icons/User.astro";
import ContactUser from "../assets/icons/ContactUser.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ImageProfile from "../assets/images/foto.jpeg";
import Swipper from "../components/Swipper.astro";
import Contact from "../components/Contact.astro";
import DownloadButton from "../components/DownloadButton.astro"
---

<Layout
  title="Portafolio Daniel Muñoz - Desarrollador Web con 2 años de experiencia"
  description="Contratame para crear aplicaciones web intuitivas que brindan soluciones unicas de software"
>
  <main>
    <SectionContainer class="py-16 lg:py-36">
      <div class="flex flex-col lg:flex-row gap-4">
        <Image
          class="rounded-full p-1 bg-black dark:bg-transparent w-64 h-64 sm:w-80 sm:h-80"
          src={ImageProfile}
          alt="daniel-foto"
        />
        <div class="flex flex-col justify-end items-end pb-6">
          <h1
            class="text-black dark:text-white text-5xl font-bold w-full flex justify-start flex-row gap-x-4 pb-4"
          >
            Hey, Soy Daniel <div class="flex justify-center items-center">
              <Badge>Disponible</Badge>
            </div>
          </h1>
          <h2 class="text-xl">
            <span class="text-black dark:text-white" >+2 años de experiencia en el</span>
            <span class="text-sky-400">Desarrollado Web</span><span
              class="dark:text-gray-500/90 text-black">. De Colombia, Medellín.</span
            >
            <span class="text-black dark:text-white" >
              Enfocado en la creación de aplicaciones web, <span
                class="text-sky-400">modernas e intuitivas.</span
              ></span
            >
          </h2>

          <nav class="flex items-center gap-x-4 justify-start w-full pt-4">
            <SocialIcons target="_blank" href="https://github.com/dmunoz05">
              <Github class="size-6" />
              <span class="hidden sm:block text-white">Github</span>
            </SocialIcons>
            <SocialIcons target="_blank" href="https://www.linkedin.com/in/dmunoz05/">
              <LinkedIn class="size-6" />
              <span class="hidden sm:block text-white">LinkedIn</span>
            </SocialIcons>
            <SocialIcons href="/#contactar">
              <Email class="size-6" />
              <span class="hidden sm:block text-white">Gmail</span>
            </SocialIcons>
            <DownloadButton />
          </nav>
        </div>
      </div>
    </SectionContainer>

    <SectionContainer id="experiencia" class="my-4">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
        <Brief class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="my-4 hidden lg:grid">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="proyectos" class="my-4 block sm:hidden">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Swipper/>
    </SectionContainer>

    <SectionContainer id="sobremi" class="my-14">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
        <User class="size-8" />
        Sobre mi
      </h2>
      <About />
    </SectionContainer>

    <SectionContainer id="contactar" class="my-14">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center text-black dark:text-white">
        <ContactUser class="size-8" />
        Contactar
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
