---
import SwiperIcons from "./SwiperIcons.astro"
---

<div>
  <h2 class="text-xl">
    <span
      >En constante aprendizaje y crecimiento, creo sitios web intuitivos y
      agradables para brindar soluciones de software innovadoras que transforman
      conceptos en experiencias digitales.</span
    >
  </h2>

  <SwiperIcons />
</div>