---
import ContactForm from './ContactForm.jsx'
---

<div>
  <h1 class="text-xl mb-8">
    <span>Si deseas contactarme para algun proyecto, enviame un correo. Ingresa un mensaje de lo que deseas, tu nombre y correo electronico. Me pondre en contacto contigo lo más pronto posible. ⌚</span>
  </h1>
  <ContactForm client:visible />
  <!-- <div class="flex flex-row relative w-fit h-fit mt-6">
    <div class="m-0 rounded-full flex border-sky-300 border-2 w-96">
      <input
        class="pl-4 py-4 pr-2 h-full w-full outline-none rounded-full bg-transparent"
        placeholder="Hola, Mi nombre es ... estoy interesado ..."
      />
      <div
        class="cursor-pointer h-full flex items-center justify-center p-4 w-12 rounded-r-full bg-gray-400"
      >
        <svg
          class="icon icon-tabler icon-tabler-send-2 size-4"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z"
          ></path><path d="M6.5 12h14.5"></path></svg
        >
      </div>
    </div>
  </div> -->
</div>
