---
import ContactForm from './ContactForm.jsx'
---

<div>
  <h1 class="text-xl mb-8">
    <span>Si deseas contactarme para algun proyecto, enviame un correo. Ingresa un mensaje de lo que deseas, tu nombre y correo electronico. Me pondre en contacto contigo lo más pronto posible. ⌚</span>
  </h1>
  <ContactForm client:visible />
</div>
