<header class="flex justify-center items-center py-3 w-full mx-auto">
  <!-- <img
    class="rounded-full w-14 h-18"
    src="http://infinitprogram.com/wp-content/uploads/2024/01/foto-perfil-cuadrada.jpeg"
    alt="daniel-foto"
  /> -->

  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="/">Inicio</a>
    <a href="/about">Sobre mi</a>
    <a href="/projects">Proyectos</a>
    <a href="/contact">Contactar</a>
  </nav>
</header>
