---
import Logotipo from "../assets/icons/Logotipo.astro"
import ButtonColor from "./ButtonColor.jsx"
---

<header class="py-5 w-full justify-between xl:w-full px-4 hidden sm:flex mx-auto">
  <nav class="flex flex-row gap-x-10 h-full items-center p-0 m-0 opacity-90">
    <a class="flex flex-row gap-x-10 h-full items-center bg-black px-4 py-2 rounded-lg m-0 opacity-90" href="#top">
      <Logotipo class="w-28 h-4 m-0" />
    </a>
  </nav>
  <nav class="flex flex-row gap-x-10 items-center opacity-90 select-none">
    <a class="text-black dark:text-white font-semibold" href="#top">Inicio</a>
    <a class="text-black dark:text-white font-semibold" href="#experiencia">Experiencia</a>
    <a class="text-black dark:text-white font-semibold" href="#proyectos">Proyectos</a>
    <a class="text-black dark:text-white font-semibold" href="#sobremi">Sobre mi</a>
    <a class="text-black dark:text-white font-semibold" href="#contactar">Contactar</a>
  </nav>
  <nav class="flex flex-row gap-x-10 items-center opacity-90 select-none">
    <ButtonColor client:visible />
  </nav>
</header>
