---
import LogoSimple from "../assets/icons/LogoSimple.astro"
import ButtonColor from "./ButtonColor.jsx"
---

<header class="py-5 w-full justify-between xl:w-full px-4 hidden sm:flex mx-auto">
  <nav class="flex flex-row gap-x-10 h-fit items-center w-8 p-0 m-0 opacity-90">
    <LogoSimple class="size-8 p-0 m-0" />
  </nav>
  <nav class="flex flex-row gap-x-10 items-center opacity-90">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobremi">Sobre mi</a>
    <a href="#contactar">Contactar</a>
  </nav>
  <nav class="flex flex-row gap-x-10 items-center w-8 opacity-90">
    <ButtonColor client:visible />
  </nav>
</header>
