---
import Angular from '../assets/icons/Angular.astro';
import Github from '../assets/icons/Github.astro';
import Django from '../assets/icons/Django.astro';
import HTML from '../assets/icons/Html.astro';
import JavaScript from '../assets/icons/JavaScript.astro';
import TypeScript from '../assets/icons/TypeScript.astro';
import Php from '../assets/icons/Php.astro';
import Bento from './Bento.astro';
import Wordpress from '../assets/icons/Wordpress.astro';
import NodeJS from '../assets/icons/NodeJS.astro';
import React from '../assets/icons/React.astro';
import Tailwind from '../assets/icons/Tailwind.astro';
import CSS from '../assets/icons/CSS.astro';
import AstroIcon from '../assets/icons/AstroIcon.astro';
import NextJS from '../assets/icons/NextJS.astro';

export const TAGS = {
	NextJS: {
		name: 'NextJS',
		class: 'bg-black text-white',
		icon: NextJS,
	},
	Github: {
		name: 'Github',
		class: 'bg-black text-white',
		icon: Github,
	},
	Django: {
		name: 'Django',
		class: 'bg-black text-white',
		icon: Django,
	},
	Angular: {
		name: 'Angular',
		class: 'bg-black text-white',
		icon: Angular,
	},
	HTML: {
		name: 'HTML',
		class: 'bg-black text-white',
		icon: HTML,
	},
	JavaScript: {
		name: 'JavaScript',
		class: 'bg-black text-white',
		icon: JavaScript,
	},
	TypeScript: {
		name: 'TypeScript',
		class: 'bg-black text-white',
		icon: TypeScript,
	},
	Php: {
		name: 'Php',
		class: 'bg-black text-white',
		icon: Php,
	},
	Wordpress: {
		name: 'Wordpress',
		class: 'bg-black text-white',
		icon: Wordpress,
	},
	NodeJS: {
		name: 'NodeJS',
		class: 'bg-black text-white',
		icon: NodeJS,
	},
	React: {
		name: 'React',
		class: 'bg-black text-white',
		icon: React,
	},
	Tailwind: {
		name: 'Tailwind',
		class: 'bg-black text-white',
		icon: Tailwind,
	},
	CSS: {
		name: 'CSS',
		class: 'bg-black text-white',
		icon: CSS,
	},
	Astro: {
		name: 'Astro',
		class: 'bg-black text-white',
		icon: AstroIcon,
	},
};

export const PROJECTS = [
	{
		title: 'Feinco',
		description: 'Simulador de creditos',
		link: 'https://feinco.com.co/simula-tu-credito/',
		github: 'https://github.com/dmunoz05/simulator-credit',
		image: '/feinco.webp',
		tags: [TAGS.Wordpress, TAGS.JavaScript, TAGS.Php, TAGS.NodeJS, TAGS.CSS],
	},
	{
		title: 'Computer Vision',
		description: 'Proyecto con IA',
		link: 'https://analyze-and-generate-images-next-js.vercel.app',
		github: 'https://github.com/dmunoz05/analyze-and-generate-images-with-Azure-AI',
		image: '/computerVision.webp',
		tags: [TAGS.React, TAGS.JavaScript, TAGS.HTML, TAGS.CSS, TAGS.Tailwind],
	},
	{
		title: 'Ruedabp',
		description: '',
		link: 'https://ruedabp.com',
		github: '',
		image: '/ruedabp.webp',
		tags: [TAGS.Wordpress, TAGS.HTML, TAGS.JavaScript, TAGS.Php, TAGS.NodeJS],
	},
	{
		title: 'D10mas',
		description: 'Página de Marca deportiva',
		link: 'https://d10mas.com',
		github: '',
		image: '/d10mas.webp',
		tags: [TAGS.React, TAGS.JavaScript, TAGS.HTML, TAGS.CSS, TAGS.Tailwind, TAGS.NodeJS, TAGS.TypeScript],
	},
	{
		title: 'Mavicontrol',
		description: 'Soluciones de automatización y procesos industriales',
		link: 'https://mavicontrol.com',
		github: '',
		image: '/mavicontrol.webp',
		tags: [TAGS.Wordpress, TAGS.HTML, TAGS.JavaScript, TAGS.Php],
	},
	{
		title: 'Infinit Pymes',
		description: 'Administrador de negocios',
		link: '',
		github: '',
		image: '/infinitPymes.webp',
		tags: [TAGS.React, TAGS.JavaScript, TAGS.HTML, TAGS.CSS, TAGS.Tailwind],
	},
	{
		title: 'Images PyXpert',
		description: 'Manipulación de imagenes',
		link: 'https://images-pyxpert-frontend.vercel.app',
		github: '',
		image: '/imagesPyXpert.webp',
		tags: [TAGS.Angular, TAGS.Django, TAGS.TypeScript, TAGS.HTML, TAGS.Tailwind],
	},
	{
		title: 'H&G Consultores S.A.S',
		description: 'Pagina web de empresa',
		link: 'https://hyg.com.co',
		github: '',
		image: '/hygconsultores.webp',
		tags: [TAGS.Wordpress, TAGS.HTML, TAGS.JavaScript, TAGS.CSS, TAGS.Php],
	},
	{
		title: 'UI dm-5ive',
		description: 'Libreria para componentes de React',
		link: '',
		github: 'https://github.com/dmunoz05/ui-dm-5ive',
		image: '/uiDm5ive.webp',
		tags: [TAGS.NextJS, TAGS.HTML, TAGS.React, TAGS.JavaScript, TAGS.CSS],
	},
];
---

<div class="grid auto-rows-auto grid-cols-2 gap-8 m-4">
	{PROJECTS.map((item, i) => <Bento item={item} i={i} />)}
</div>
