<a
  class="dark:bg-white/5 relative
  border border-white/10 rounded-full
  flex justify-center items-center gap-x-2
  py-2 px-4
  transition
  hover:scale-110 hover:bg-white/10
  cursor-pointer bg-black
  "
  {...Astro.props}
  rel="noopener"
>
  <slot />
</a>
